/* Container */
.home--container {
    display: grid;
    height: 100vh;
}

.home--div {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    /* margin-top: 7%; */
}

.home--title {
    font-family: "Avenir-Black";
    font-size: 3em;
    margin-bottom: 2%;
}

.home--subtitle {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 0;
}

/* Button  */
.button {
    margin-top: 20vh;
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: none;    
    color: var(--green);
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
}

.button:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 28px;
    max-width: 56px;
    max-height: 56px;
    transition: all 0.3s ease;
    }

.button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #FFBA49;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.button:hover:before {
    width: 100%;
}

.button:hover svg {
    transform: translateX(0);
}

.button:active {
    transform: scale(0.96);
}


/* Recipes */
#features--container {
    margin: 3%;
    padding-top: 2%;
}
.features--feature {
    width: 85%;
    margin: 8% auto;
    height: 28em;
    border-radius: 5px;

    position: relative;
    display: grid;
}

.features--odd {
    grid-template-columns: 8% 42% 50%;
    grid-template-rows: repeat(1, 100%);
}
.features--even {
    grid-template-columns: 50% 42% 8%;
    grid-template-rows: repeat(1, 100%);
}

.features--one {
    background-color:var(--light-green);
}
.features--two {
    background-color:var(--pink);
}
.features--three {
    background-color:var(--yellow);
}

.features--image {
    max-width: 90%;
}

.features--odd .features--details {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
    margin-top: -7%;
}
.features--odd .features--image {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

.features--even .features--details {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    margin-top: -7%;
}
.features--even .features--image {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

.features--details {
    background: var(--white);
    border-radius: 4px;
    padding: 7% 12%;
    max-width: 70%;
    max-height: 95%;
}

.features--title {
    font-size: 185%;
    font-family: "Avenir-Black";
    margin-top: 5%;
    margin-bottom: 5%;
}

.features--description {
    font-size: 95%;
    font-weight: 500;
    letter-spacing: 0.02rem;
    line-height: 165%;
    margin-top: 10%;
}

.features--category {
    font-size: 65%;
    font-weight: 900;
    letter-spacing: 0.12rem;
    line-height: 150%;
}

.features--one .features--category {
    color: #2da94f;
}
.features--two .features--category {
    color: #e3677c;
}
.features--three .features--category {
    color: #f69d02;
}