/* Container */
.home--container {
    height: 100vh;
}

.home--div {
    margin: 10% 0 0 0;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.image--div {
    text-align: right;
}

.home--image {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.home--title {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: "Avenir-Black";
    font-size: 5em;
    max-width: 80%;
    color: #F8CF6C;
    align-self: center;
    justify-self: center;
    text-align: right;
    line-height: 110%;
    letter-spacing: 2px;
    margin-top: -1%;
}

/* RECIPE DETAILS */
.tags--div {
    text-align: center;
}

.recipe--tags {
    margin-top: -20px;
    width: 23%;
}

.recipe--desc--container {
    width: 100%;
    background-color: #F9FAFA;
    padding: 75px;
    margin: 30px 0;
    text-align: center;
}

.recipe--desc {
    /* font-family: "Avenir-Heavy"; */
    font-size: 1.2em;
    width: 55%;
    margin: 0 auto;
}

.recipe--details {
    margin: 5% 12% auto 16%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.recipe--details h1 {
    font-size: 2.8em;
    font-family: "Avenir-Black";
    letter-spacing: 1px;
    margin-bottom: 3%;
}

.ingredients--container, .instructions--container, .nutrition--container {
    margin: 15px;
}

.recipe--ingredients, .recipe--instructions, .recipe--nutrition {
    padding: 0 30px 30px 0;
    font-size: 1.1em;
    line-height: 220%;
}

.recipe--ingredients ul, .recipe--instructions ol {
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.recipe--details li span {
    position: relative; left: 6px; 
}

.recipe--nutrition p {
    display: inline;
    font-weight: 300;
}

.recipe--nutrition h3 {
    font-size: 1.2em;
}
