/* Container */
.home--container {
  display: grid;
  height: 150vh;
}

.home--div {
  margin: 0 auto;
  align-self: center;
  text-align: center;
  margin-top: 12%;
  grid-template-rows: 50% 100%;
}

.home--title {
  font-family: "Avenir-Black";
  font-size: 3.35em;
  color: #FFBA49;
  margin-bottom: 1%;
}

.home--subtitle {
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 0;
}

.home--background {
  width: 100%;
  justify-self: center;
}


/* Quick Features */
.features--container {
  display: grid;
}

.features--title {
  align-self: center;
  text-align: center;
  font-family: "Avenir-Black";
  font-size: 3.2em;
  color: var(--green);
  margin-bottom: 0;
  letter-spacing: 5px;
}

.features--subtitle {
  align-self: center;
  text-align: center;
  color: #212121;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 8%;
}

.features--image {
  width: 100%;
  justify-self: center;
}