/* Container */
.home--container {
    display: grid;
    height: 100vh;
}

.home--div {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    /* margin-top: 7%; */
}

.home--title {
    font-family: "Avenir-Black";
    font-size: 3em;
    margin-bottom: 2%;
}

.home--subtitle {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 0;
}

/* Button  */
.button {
    margin-top: 20vh;
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: none;    
    color: var(--green);
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
}

.button:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 28px;
    max-width: 56px;
    max-height: 56px;
    transition: all 0.3s ease;
    }

.button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #FFBA49;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.button:hover:before {
    width: 100%;
}

.button:hover svg {
    transform: translateX(0);
}

.button:active {
    transform: scale(0.96);
}


/* Recipes */
#recipes--container {
    margin: 3%;
}

.recipes--logo--div {
    text-align: center;
}

.recipes--logo {
    max-width: 25%;
}

#content--container {
    text-align: center;
    vertical-align: top;
}

.content--recipe {
    width: 30.5%;   
    border-radius: 10px;
    box-shadow: 3px 3px 20px #E7E7E7;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    cursor: pointer;
}

.recipe--text--div {
    margin: 8%;
}

.recipe--name {
    font-size: 1.2em;
    font-family: "Avenir-Black";
    margin-bottom: 1px;
}

.recipe--desc--div {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.recipe--desc {
    margin-top: 0;
    font-size: 0.9em;
    margin-bottom: -1px;
    letter-spacing: 0.5px;
}

.recipe--tags {
    margin-top: 5%;
    width: 68%;
    margin-bottom: 3%;
}

.recipe--img {
    width: 100%;
    max-height: 400px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;

}